@page
@model proyectoBases2.Pages.Proyecto.CRUD.CrearClienteModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear nuevo cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Crear nuevo cliente</h2>

        <form method="post">
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Identificación</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="identificacion" value="@Model.Clientes.Identificacion">
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre" value="@Model.Clientes.Nombre">
                </div>
            </div>

            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <button type="submit" class="btn btn-primary">Crear cliente</button>
                </div>

                <div class="col-sm-3 d-grid">
                    <a class="btn btn-outline-primary" href="/Proyecto/CRUD/IndexCRUD" role="button">Regresar</a>
                </div>
            </div>

        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>